.digital-signage-device-preview-buttons {
  display: flex;
  justify-content: space-between;
}
.digital-signage-device-preview-buttons input {
  background-color: #f88787;
}
.digital-signage-device-preview-buttons input.live {
  background-color: #85aa85;
}
#digital-signage-preview {
  display: none;
  position: relative;
  z-index: 9999;
}
#digital-signage-preview.show {
  display: block;
}
#digital-signage-preview.show > .background {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: .7;
}
#digital-signage-preview.show .popup {
  display: block;
  position: fixed;
  background-color: #2b2b2b;
  border-radius: 15px;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}
#digital-signage-preview.show.orientation-portrait .popup {
  top: 10%;
  bottom: 10%;
  left: 35%;
  right: 35%;
}
#digital-signage-preview.show .popup > .content {
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  background-color: white;
  padding: 0;
  overflow: hidden;
}
#digital-signage-preview.show .popup > .content iframe {
  width: 100%;
  height: 100%;
  border: none;
}
#digital-signage-preview.show .popup > .content .screenshot-widget {
  position: absolute;
  background-color: red;
  top: 0;
  color: white;
  left: 0;
}
#digital-signage-preview.show .popup > .content .screenshot-widget:hover {
  cursor: pointer;
}
#digital-signage-preview.show .popup > .content .table-wrapper {
  overflow: scroll;
  height: 100%;
  width: 100%;
}
#digital-signage-preview.show .popup > .content .table-wrapper.pre td {
  white-space: pre;
}
#digital-signage-preview.show .popup > .content .table-wrapper.pre td.no-pre {
  white-space: normal;
}
